PORT=3000
NODE_ENV=development
COURSE_PASSWORD=Coconina@Bakri
SESSION_SECRET=replace-with-a-long-random-secret
DB_FILE=./data/app.db.json
CONTACT_PHONE=+44 7883185894
CONTACT_EMAIL_PRIMARY=haris@tapoos.dev
CONTACT_EMAIL_SECONDARY=haris@prmedia.io
